html{
	scroll-behavior: smooth;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: auto;
}

header {
	color: olivedrab;
	padding: 20px 0;

}

header h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: brown;
}

#home{
	background: url('3.jpg') no-repeat center center/cover;
	opacity: 70%;
	color:black;
	text-align: bottom;
	padding: 300px 0;
	height: 100px;
	width: 100%;
	display: inline-block;
	


}

#services {
	background: url(1.jpg);
	padding: 50px 0;
}

.service {
	margin-bottom: 30px;
}

.service h3 {
	margin-top: 0;
}

footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}







/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/
/*header*/
/*header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
	transition: 0.6s;
}
header .brand{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}
header .menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .menu{
	color: #000;
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;
	margin: 0 30px;
	padding: 0 10px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property:color,background ;
}
header .menu a.hover{
	background-color: #fff;
}
header .btn{
	color: #000;
	font-size: 20px;
	cursor: pointer;
	display: none;
}*/